/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*CUSTOM CODE*/

html {
    background-color: #000;
    color: #fff;
    font-family: "nimbus-sans";
}

article.cssgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 11%;
}

article.nogrid {
    display: block;
    margin-left: 35%;
    margin-right: 14%;
    margin-top: -23%;
}

article.cutout {
    display: block;
    margin-left: 27%;
    margin-right: 3%;
    margin-top: -23%;
    
}

section.two {
    margin-left: 8%;
    margin-right: 15%;
    margin-bottom: 22%; 
}

section.three {
    margin-left: 8%;
    margin-right: 15%;
    margin-bottom: 22%;
}

section.five {
    margin-left: 8%;
    margin-right: 15%;
    margin-top: -15%;
    margin-bottom: 22%;
}

section.six {
    margin-left: 8%;
    margin-right: 15%;
    margin-top: -15%;
    margin-bottom: 22%;
}

section.eight {
    margin-left: 8%;
    margin-right: 15%;
    margin-bottom: 15%;
}

section.nine {
    margin-left: 8%;
    margin-right: 15%;
    margin-bottom: 15%;
}

section.twelve {
    margin-left: 8%;
    margin-right: 15%;
    margin-bottom: 15%;
}

h1 {
    font-weight: 700;
    font-size: 1.7em;
}

h2 {
    font-weight: 300;
    margin-top: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: red;
}

h2 a:hover {
    color: red;
}

img.summer2018 {
    width: 90%;
}

img.plastic {
    width: 90%;
}

img.paintdraw {
    width: 90%;
}

img.petants {
    width: 90%;
}

img.juul {
    width: 90%;
}

img.close {
    width: 90%;
}

img.block {
    width: 90%;
}

img.cmualumn {
    width: 90%;
}

img.truck {
    width: 90%;
    margin-left: -12%;
    margin-bottom: -8%;
    margin-top: -3.5%;
}

img.x {
    width: 60%;
    margin-left: -4%;
    margin-bottom: 10%;
    margin-top: 0%;
}

img.normal {
    width: 90%;
    margin-bottom: 9%;
}

img.normal1 {
    width: 90%;
    margin-bottom: 9%;
}

img.cutout {
    width: 105%;
    margin-top: -10%;
    margin-left: -4%;
}

img.long {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

img.hilary {
    width: 90%;
    margin-bottom: 5%;
}

img.rachel {
    width: 30%;
    margin-top: -10%;
    margin-bottom: 2%;
    margin-left: 5%;
}

img.closeadj {
    width: 90%;
}

img.closeverb {
    width: 90%;
}

img.bike {
    width: 100%;
    margin-left: -3%
}

img.blockposter {
    width: 100%;
    margin-left: -12%
}

img.antgif {
    width: 50%;
    margin-left: 20%;
    margin-right:30%;
    margin-bottom: 9%;
}

h2.process {
    margin-top: 45%;
}

iframe.close {
    margin-top: -15%;
    margin-bottom: -23%;
}




@media only screen and (max-width: 600px) {
    article.cssgrid {
        display: block;
        float: none;
        width: 100%;
    }
    
    img.cutout {
        margin-top: 30%;
        margin-left: -35%;
        width: 140%;
    }
    
    img.truck {
        margin-left: -100em;
        margin-top: -100em;
    }
    
    article.nav {
        margin-left: -100em;
        margin-top: -100em;
    }
    
    h1.rachel {
        margin-left: -100em;
        margin-top: -100em;
    }
    
    img.x {
        margin-left: -100em;
        margin-top: -100em;
    }
