/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*CUSTOM CODE*/

html {
    background-color: white;
    color: #fff;
    font-family: condor, sans-serif;
    font-weight: 400;
    font-style: italic;
}

img.x {
    width: 10%;
    margin-left: 45%;
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 3%;
}

a {
    text-decoration: none;
    color: #c2c2c2;
}


/*typographic accumulation start*/

div.borderone {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderone {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.borderone-transform-active {
  height: 39vw;
  width: 80%;
}
  

.imageone {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageone-transform-active {
    width: 80%;
    padding-top: 5px;
}


/*typographic accumulation end*/

/*AIGA monsters start*/

div.bordertwo {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordertwo {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordertwo-transform-active {
  height: 165vw;
  width: 80%;
}
  

.imagetwo {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagetwo-transform-active {
    width: 90%;
    padding-top: 5px;
    margin-bottom: 29.5vw;
    margin-top: 33vw
}

.image2 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image2-transform-active {
    width: 100%;
    padding-top: 5px;
}

.image21 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image21-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image22 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image22-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 44%;
}

.image23 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image23-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 35%;
}

/*AIGA monsters end*/

/*collab collage start*/

div.borderthree {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderthree {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.borderthree-transform-active {
  height: 68vw;
  width: 80%;
}
  

.imagethree {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagethree-transform-active {
    width: 70%;
    padding-top: 5px;
}

.image3 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image3-transform-active {
    width: 90%;
    padding-top: 5px;
    margin-top: 38%;
}

/*
.image31 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image31-transform-active {
    width: 50%;
    padding-top: 5px;
}
*/


/*collab collage end*/

/*aesthetic perceiver start*/

div.borderfour {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderfour {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.borderfour-transform-active {
  height: 190vw;
  width: 80%;
}
  

.imagefour {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagefour-transform-active {
    width: 60%;
    padding-top: 5px;
}

.image4 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image4-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 41%;;
}

.image41 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image41-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 46%;
}

.image42 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image42-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 54.5%;
}

.image43 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image43-transform-active {
    width: 100%;
    padding-top: 5px;
    margin-top: 53.5%;
}

/*
.image44 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image44-transform-active {
    width: 50%;
    padding-top: 5px;
}
*/
/*aesthetic perceiver end*/

/*dirtscape start*/
/*

div.borderfive {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderfive {
  background-color: black;
  height: 10px;
  width: 30%;
  transition: all 2.3s ease;
}

.borderfive-transform-active {
  height: 500px;
  width: 80%;
}
  

.imagefive {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagefive-transform-active {
    width: 60%;
    padding-top: 5px;
}
*/

/*dirtscape end*/

/*misc paintings, drawings, and prints start*/

div.bordersix {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordersix {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordersix-transform-active {
  height: 356vw;
  width: 80%;
}
  

.imagesix {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagesix-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image6 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image6-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image61 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image61-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image62 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image62-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 39%;
}

.image63 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image63-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image64 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image64-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 39%;
}

.image65 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image65-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 55.5%;
}

.image66 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image66-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 61.5%;
}

.image67 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image67-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 34.5%;
}

.image68 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image68-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 42.5%;
}

/*misc. paintings, drawings, and prints end*/

/*motion map start*/

/*
div.borderseven {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderseven {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.borderseven-transform-active {
  height: 500px;
  width: 80%;
}
  

.imageseven {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageseven-transform-active {
    width: 50%;
    padding-top: 5px;
}
*/

/*motion map end*/

/*juul city start*/

div.bordereight {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordereight {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordereight-transform-active {
  height: 31vw;
  width: 80%;
}
  

.imageeight {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageeight-transform-active {
    width: 60%;
    padding-top: 4px;
}

/*juul city end*/

/*pet ants start*/

div.bordernine {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordernine {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordernine-transform-active {
  height: 228vw;
  width: 80%;
}
  

.imagenine {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagenine-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image9 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image9-transform-active {
    width: 30%;
    padding-top: 5px;
    margin-top: 64%;
}

.image91 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image91-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 55%;
}

.image92 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image92-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 56%;
}

.image93 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image93-transform-active {
    width: 42%;
    padding-top: 5px;
    margin-top: 50%;
}

/*
.image94 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image94-transform-active {
    width: 50%;
    padding-top: 5px;
}
*/

/*pet ants end*/

/*tall towers, sound structures start*/

div.border10 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border10 {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.border10-transform-active {
  height: 218vw;
  width: 80%;
}
  

.image10 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image10-transform-active {
    width: 30%;
    padding-top: 5px;
}

.image101 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image101-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image102 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image102-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 39%;
}

.image103 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image103-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 38%;
}

.image104 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image104-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image105 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image105-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image106 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image106-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

/*tall towers, sound structures end*/

/*tooth pain start*/

div.border11 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border11 {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.border11-transform-active {
  height: 500px;
  width: 80%;
}
  

.image11 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image11-transform-active {
    width: 30%;
    padding-top: 5px;
}

/*tooth pain end*/

/*about start*/

div.border12 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border12 {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.border12-transform-active {
  height: 30vw;
  width: 80%;
}
  

.image12 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image12-transform-active {
    width: 30%;
}

/*
.image13 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image13-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 32%;
}
*/

/*about end*/

/*resume start*/

div.border14 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border14 {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.border14-transform-active {
  height: 80vw;
  width: 80%;
}
  

.image14 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image14-transform-active {
    width: 75%;
}


/*resume end*/


main {
    text-align: center
}

img {
    width: 100%;
    margin: 5px;
}

iframe {
    width: 100%;
    margin: 5px;
}

input {
     background:none;
     color:inherit;
     border:none; 
/*     padding:0!important;*/
     font: inherit;
     cursor: cell;
    padding-left: 15%;
    padding-right: 15%;
}

button {
     background:none;
     color:inherit;
     border:none; 
/*     padding:0!important;*/
     font: inherit;
     cursor: cell;

}

button:focus { 
    outline: none; 
}

input:focus { 
    outline: none; 
}

/*media queryyyyyyyyyyyy*/

@media only screen and (max-width: 450px) {
    img.x {
    width: 20%;
    margin-left: 40%;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}
    
    div.borderone {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

    .borderone {
      background-color: black;
      height: 10px;
      width: 90%;
      transition: all 2.3s ease;
    }
    
    .borderone-transform-active {
      height: 53vw;
      width: 100%;
}
    
    div.bordertwo {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

    .bordertwo {
      background-color: black;
      height: 10px;
      width: 90%;
      transition: all 2.3s ease;
    }

    .bordertwo-transform-active {
      height: 270vw;
      width: 100%;
    }
    
    .imagetwo {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagetwo-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-bottom: 43vw;
    margin-top: 34vw
}

.image2 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image2-transform-active {
    width: 80%;
    padding-top: 5px;
}

.image21 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image21-transform-active {
    width: 60%;
    padding-top: 5px;
}

.image22 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image22-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 80%;
}

.image23 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image23-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 42%;
}
    
    
    div.borderthree {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderthree {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.borderthree-transform-active {
  height: 115vw;
  width: 100%;
}
  

.imagethree {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagethree-transform-active {
    width: 75%;
    padding-top: 5px;
}

.image3 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image3-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 20%;
}
    
    div.borderfour {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderfour {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.borderfour-transform-active {
  height: 305vw;
  width: 100%;
}
  

.imagefour {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagefour-transform-active {
    width: 70%;
    padding-top: 5px;
}

.image4 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image4-transform-active {
    width: 70%;
    padding-top: 5px;
    margin-top: 48%;;
}

.image41 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image41-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 54%;
}

.image42 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image42-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 69%;
}

.image43 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image43-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 48%;
}
    
    
    div.bordersix {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordersix {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.bordersix-transform-active {
  height: 470vw;
  width: 100%;
}
  

.imagesix {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagesix-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image6 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image6-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image61 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image61-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image62 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image62-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 39%;
}

.image63 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image63-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image64 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image64-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 39%;
}

.image65 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image65-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 55.5%;
}

.image66 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image66-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 61.5%;
}

.image67 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image67-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 34.5%;
}

.image68 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image68-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 42.5%;
}
    
    div.bordereight {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordereight {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.bordereight-transform-active {
  height: 53vw;
  width: 100%;
}
  

.imageeight {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageeight-transform-active {
    width: 80%;
    padding-top: 4px;
    margin-top: -21vw
}

    div.bordernine {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordernine {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.bordernine-transform-active {
  height: 300vw;
  width: 100%;
}
  

.imagenine {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagenine-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image9 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image9-transform-active {
    width: 30%;
    padding-top: 5px;
    margin-top: 64%;
}

.image91 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image91-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 55%;
}

.image92 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image92-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 56%;
}

.image93 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image93-transform-active {
    width: 42%;
    padding-top: 5px;
    margin-top: 50%;
}
    
    div.border10 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border10 {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.border10-transform-active {
  height: 285vw;
  width: 100%;
}
  

.image10 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image10-transform-active {
    width: 30%;
    padding-top: 5px;
}

.image101 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image101-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image102 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image102-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 39%;
}

.image103 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image103-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 38%;
}

.image104 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image104-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image105 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image105-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image106 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image106-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}
    
    div.border12 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border12 {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.border12-transform-active {
  height: 50vw;
  width: 100%;
}
  

.image12 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image12-transform-active {
    width: 40%;
}
    
    div.border14 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border14 {
  background-color: black;
  height: 10px;
  width: 90%;
  transition: all 2.3s ease;
}

.border14-transform-active {
  height: 105vw;
  width: 100%;
}
  

.image14 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image14-transform-active {
    width: 75%;
}
    
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
    
    img.x {
    width: 20%;
    margin-left: 40%;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}
    
    div.borderone {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

    .borderone {
      background-color: black;
      height: 10px;
      width: 60%;
      transition: all 2.3s ease;
    }
    
    .borderone-transform-active {
      height: 53vw;
      width: 100%;
}
    
    div.bordertwo {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

    .bordertwo {
      background-color: black;
      height: 10px;
      width: 60%;
      transition: all 2.3s ease;
    }

    .bordertwo-transform-active {
      height: 250vw;
      width: 100%;
    }
    
    .imagetwo {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagetwo-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-bottom: 43vw;
    margin-top: 34vw
}

.image2 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image2-transform-active {
    width: 80%;
    padding-top: 5px;
}

.image21 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image21-transform-active {
    width: 60%;
    padding-top: 5px;
}

.image22 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image22-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 72%;
}

.image23 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image23-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 42%;
}
    
    
    div.borderthree {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderthree {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.borderthree-transform-active {
  height: 100vw;
  width: 100%;
}
  

.imagethree {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagethree-transform-active {
    width: 75%;
    padding-top: 5px;
}

.image3 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image3-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 25%;
}
    
    div.borderfour {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderfour {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.borderfour-transform-active {
  height: 290vw;
  width: 100%;
}
  

.imagefour {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagefour-transform-active {
    width: 70%;
    padding-top: 5px;
}

.image4 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image4-transform-active {
    width: 70%;
    padding-top: 5px;
    margin-top: 48%;;
}

.image41 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image41-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 54%;
}

.image42 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image42-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 69%;
}

.image43 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image43-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 52%;
}
    
    
    div.bordersix {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordersix {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.bordersix-transform-active {
  height: 450vw;
  width: 100%;
}
  

.imagesix {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagesix-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image6 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image6-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image61 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image61-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image62 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image62-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 39%;
}

.image63 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image63-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 43%;
}

.image64 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image64-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 39%;
}

.image65 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image65-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 55.5%;
}

.image66 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image66-transform-active {
    width: 40%;
    padding-top: 5px;
    margin-top: 61.5%;
}

.image67 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image67-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 34.5%;
}

.image68 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image68-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 42.5%;
}
    
    div.bordereight {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordereight {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.bordereight-transform-active {
  height: 50vw;
  width: 100%;
}
  

.imageeight {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageeight-transform-active {
    width: 80%;
    padding-top: 4px;
    margin-top: -15vw
}

    div.bordernine {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordernine {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.bordernine-transform-active {
  height: 287vw;
  width: 100%;
}
  

.imagenine {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagenine-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image9 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image9-transform-active {
    width: 30%;
    padding-top: 5px;
    margin-top: 64%;
}

.image91 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image91-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 55%;
}

.image92 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image92-transform-active {
    width: 60%;
    padding-top: 5px;
    margin-top: 56%;
}

.image93 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image93-transform-active {
    width: 42%;
    padding-top: 5px;
    margin-top: 50%;
}
    
    div.border10 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border10 {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.border10-transform-active {
  height: 278vw;
  width: 100%;
}
  

.image10 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image10-transform-active {
    width: 30%;
    padding-top: 5px;
}

.image101 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image101-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image102 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image102-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 39%;
}

.image103 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image103-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 38%;
}

.image104 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image104-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image105 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image105-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}

.image106 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image106-transform-active {
    width: 55%;
    padding-top: 5px;
    margin-top: 37.5%;
}
    
    div.border12 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border12 {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.border12-transform-active {
  height: 50vw;
  width: 100%;
}
  

.image12 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image12-transform-active {
    width: 40%;
}
    
    div.border14 {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.border14 {
  background-color: black;
  height: 10px;
  width: 60%;
  transition: all 2.3s ease;
}

.border14-transform-active {
  height: 100vw;
  width: 100%;
}
  

.image14 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image14-transform-active {
    width: 75%;
}
    
    
}

@media only screen and (min-width: 800px) and (max-width: 950px) {
    
    div.bordertwo {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordertwo {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordertwo-transform-active {
  height: 180vw;
  width: 80%;
}
  

.imagetwo {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagetwo-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-bottom: 37vw;
    margin-top: 32vw
}

.image2 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image2-transform-active {
    width: 80%;
    padding-top: 5px;
}

.image21 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image21-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image22 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image22-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 57%;
}

.image23 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image23-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 35%;
}
    
       .borderthree-transform-active {
  height: 80vw;
  width: 80%;
}
    
    .imagethree {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagethree-transform-active {
    width: 75%;
    padding-top: 5px;
}

.image3 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image3-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 40%;
}
    
    div.borderfour {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderfour {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.borderfour-transform-active {
  height: 205vw;
  width: 80%;
}
    
    div.bordereight {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordereight {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordereight-transform-active {
  height: 31vw;
  width: 80%;
}
  

.imageeight {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageeight-transform-active {
    width: 60%;
    padding-top: 4px;
    margin-top: -10%;
}
    
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    
    div.bordertwo {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordertwo {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.bordertwo-transform-active {
  height: 180vw;
  width: 80%;
}
  

.imagetwo {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagetwo-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-bottom: 38vw;
    margin-top: 33vw
}

.image2 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image2-transform-active {
    width: 80%;
    padding-top: 5px;
}

.image21 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image21-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image22 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image22-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 55%;
}

.image23 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image23-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 35%;
}
    
        .borderthree {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}
    
    .borderthree-transform-active {
  height: 80vw;
  width: 80%;
}
    
    .imagethree {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagethree-transform-active {
    width: 75%;
    padding-top: 5px;
}

.image3 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image3-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 40%;
}
    
       div.borderfour {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.borderfour {
  background-color: black;
  height: 10px;
  width: 35%;
  transition: all 2.3s ease;
}

.borderfour-transform-active {
  height: 200vw;
  width: 80%;
}
    
    .imageeight {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageeight-transform-active {
    width: 60%;
    padding-top: 4px;
    margin-top: -5%;
}
    
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    

.borderone {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
    .borderone-transform-active {
  height: 39vw;
  width: 80%;
}
    
    .borderthree {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
    .borderthree-transform-active {
  height: 80vw;
  width: 80%;
}
    
    .imagethree {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagethree-transform-active {
    width: 75%;
    padding-top: 5px;
}

.image3 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image3-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-top: 35%;
}
    
    div.borderfour {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}
    
        .borderfour {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
        .borderfour-transform-active {
  height: 200vw;
  width: 80%;
}
    
    .image43 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image43-transform-active {
    width: 70%;
    padding-top: 5px;
    margin-top: 45%;
}
        .bordersix {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
            .bordersix-transform-active {
  height: 360vw;
  width: 80%;
}
    
            .bordereight {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
       .bordereight-transform-active {
  height: 45vw;
  width: 80%;
}
    
    .imageeight {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imageeight-transform-active {
    width: 75%;
    padding-top: 4px;
    margin-top: -10%;
}
    
                .bordernine {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
     .bordernine-transform-active {
  height: 230vw;
  width: 80%;
}
    
.border10 {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
 .border10-transform-active {
  height: 220vw;
  width: 80%;
}

                    .border14 {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
         .border14-transform-active {
  height: 85vw;
  width: 80%;
}
                    .border12 {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}
    
         .border12-transform-active {
  height: 30vw;
  width: 80%;
}
    
    div.bordertwo {
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.bordertwo {
  background-color: black;
  height: 10px;
  width: 45%;
  transition: all 2.3s ease;
}

.bordertwo-transform-active {
  height: 185vw;
  width: 80%;
}
  

.imagetwo {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.imagetwo-transform-active {
    width: 80%;
    padding-top: 5px;
    margin-bottom: 37vw;
    margin-top: 26vw
}

.image2 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image2-transform-active {
    width: 80%;
    padding-top: 5px;
}

.image21 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image21-transform-active {
    width: 50%;
    padding-top: 5px;
}

.image22 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image22-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 67%;
}

.image23 {
    height: 0;
    width: 0;
    margin: auto;
    padding: 3px;
    transition: all 2s ease;
}

.image23-transform-active {
    width: 50%;
    padding-top: 5px;
    margin-top: 35%;
}
    
}

