/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*CUSTOM CODE*/

html {
    background-color: #000;
    color: #fff;
    font-family: "nimbus-sans";
}

article.cssgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 13em;
}

article.nogrid {
    display: block;
    margin-left: 27em;
    margin-right: 13em;
    margin-top: -15.7em;
}

section.two {
    margin-left: 2em;
    margin-right: 4em;
}

section.three {
    margin-left: 2em;
    margin-right: 4em;
}

section.five {
    margin-left: 2em;
    margin-right: 4em;
}

section.six {
    margin-left: 2em;
    margin-right: 4em;
}

h1 {
    font-weight: 700;
    font-size: 1.7em;
}

h2 {
    font-weight: 300;
    margin-top: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: red;
}

h2 a:hover {
    color: red;
}

img.paintdraw {
    width: 90%;
}

img.juul {
    width: 90%;
}

img.close {
    width: 90%;
}

img.block {
    width: 90%;
}

img.cmualumn {
    width: 90%;
}

img.truck {
    width: 90%;
    margin-left: -2.8em;
    margin-bottom: -1.85em;
    margin-top: -.7em;
}

img.normal {
    width: 90%;
    margin-bottom: 4em;
}

img.long {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

img.hilary {
    width: 90%;
    margin-bottom: 2em;
}

img.rachel {
    width: 30%;
    margin-top: -3em;
    margin-bottom: 1em;
    margin-left: 3em;
}

img.closeadj {
    width: 90%;
}

img.closeverb {
    width: 90%;
}

img.bike {
    width: 100%;
}

img.blockposter {
    width: 100%;
}

@media screen and (max-width: 600px) {
    article.cssgrid {
        display: block;
        float: none;
        width: 100%;
    }
    
    img.truck {
        margin-top: -3em;
    }
    
   h1.rachel {
        margin-top: -1em;
    }
    
    img.paintdraw {
        margin-top: 2em;
        margin-left: -2em;
    }
    
    h2.paintdraw {
        margin-left: -2em;
    }
    
    img.cmualumn {
        margin-top: 3em;
        margin-left: -2em;
    }
    
    h2.cmualumn {
        margin-left: -2em;
    }
    
    img.close {
        margin-top: 3em;
        margin-left: -2em;
    }
    
    h2.close {
        margin-left: -2em;
    }
    
    img.block {
        margin-top: 3em;
        margin-left: -2em;
    }
    
    h2.block {
        margin-left: -2em;
        margin-bottom: 4em;
    }
